<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>Railway Application</display-name>

    <servlet>
        <servlet-name>ClientPageServlet</servlet-name>
        <servlet-class>ru.tsystems.railway.servlets.ClientPageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EmployeePageServlet</servlet-name>
        <servlet-class>ru.tsystems.railway.servlets.EmployeePageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginPageServlet</servlet-name>
        <servlet-class>ru.tsystems.railway.servlets.LoginPageServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ru.tsystems.railway.servlets.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StationCreationServlet</servlet-name>
        <servlet-class>ru.tsystems.railway.servlets.StationCreationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TrainCreationServlet</servlet-name>
        <servlet-class>ru.tsystems.railway.servlets.TrainCreationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SearchTrainServlet</servlet-name>
        <servlet-class>ru.tsystems.railway.servlets.SearchTrainServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>StationTimetableServlet</servlet-name>
        <servlet-class>ru.tsystems.railway.servlets.StationTimetableServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BuyTicketServlet</servlet-name>
        <servlet-class>ru.tsystems.railway.servlets.BuyTicketServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LookPassengersByTrain</servlet-name>
        <servlet-class>ru.tsystems.railway.servlets.LookPassengersServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AppExceptionHandlerServlet</servlet-name>
        <servlet-class>ru.tsystems.railway.servlets.AppExceptionHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClientPageServlet</servlet-name>
        <url-pattern>/clientPage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EmployeePageServlet</servlet-name>
        <url-pattern>/employeePage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginPageServlet</servlet-name>
        <url-pattern>/loginPage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SearchTrainServlet</servlet-name>
        <url-pattern>/SearchTrain</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StationTimetableServlet</servlet-name>
        <url-pattern>/stationTimetable</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BuyTicketServlet</servlet-name>
        <url-pattern>/buyTicket</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AppExceptionHandlerServlet</servlet-name>
        <url-pattern>/errorPage</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StationCreationServlet</servlet-name>
        <url-pattern>/NewStation</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TrainCreationServlet</servlet-name>
        <url-pattern>/NewTrain</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LookPassengersByTrain</servlet-name>
        <url-pattern>/LookPassengersByTrain</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>ru.tsystems.railway.listeners.DbConnectionManagerListener</listener-class>
    </listener>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorPage</location>
    </error-page>

    <filter>
        <filter-name>EmployeeSecurityFilter</filter-name>
        <filter-class>ru.tsystems.railway.filters.EmployeeSecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EmployeeSecurityFilter</filter-name>
        <url-pattern>/employeePage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployeeSecurityFilter</filter-name>
        <url-pattern>/NewStation</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployeeSecurityFilter</filter-name>
        <url-pattern>/NewTrain</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EmployeeSecurityFilter</filter-name>
        <url-pattern>/LookPassengersByTrain</url-pattern>
    </filter-mapping>


    <welcome-file-list>
        <welcome-file>clientPage</welcome-file>
    </welcome-file-list>
</web-app>